/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint{background:#fff;font-family:Menlo,Bitstream Vera Sans Mono,DejaVu Sans Mono,Monaco,Consolas,monospace;border:0!important}.pln{color:#4d4d4c}ol.linenums{margin-top:0;margin-bottom:0;color:#8e908c}li.L0,li.L1,li.L2,li.L3,li.L4,li.L5,li.L6,li.L7,li.L8,li.L9{padding-left:1em;background-color:#fff;list-style-type:decimal}@media screen{.str{color:#718c00}.kwd{color:#8959a8}.com{color:#8e908c}.typ{color:#4271ae}.lit{color:#f5871f}.pun{color:#4d4d4c}.opn{color:#4d4d4c}.clo{color:#4d4d4c}.tag{color:#c82829}.atn{color:#f5871f}.atv{color:#3e999f}.dec{color:#f5871f}.var{color:#c82829}.fun{color:#4271ae}}
pre.prettyprint{
  padding: .5rem;
  background-color: #f7f7f9;
}

.demo{
  margin-bottom: 1rem;
}

.table-container{
  max-width: 100%;
  overflow-x: auto;
  >.table{
    min-width: 400px;
  }
}

.menu{
  background-color: #f7f7f9;
  position: fixed;
  height: 100%;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding-top: 1rem;
}

.content{
  padding-top: calc(2em + 2rem);
}

.navbar{
  background-color: #FFF;
  box-shadow:  0 2px 4px 0 rgba(0,0,0,.2);
  z-index: 1;
  &-toggler{
    cursor: pointer;
    border: none;
    &:focus{
      outline: none;
    }
  }
}

.left-to-right-enter-active, .left-to-right-leave-active {
  transition: all .5s
}
.left-to-right-enter, .left-to-right-leave-active {
  transform: translateX(calc(-8/12*100vw));
  @media (min-width: 768px){
    transform: translateX(calc(-5/12*100vw));
  }
  @media (min-width: 992px){
    transform: translateX(-25vw);
  }
}
