.dropdown{
  cursor: pointer;
  position: relative;
  .title{
    border-top: 1px solid rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    overflow-x: hidden;
    position: relative;
    .icon{
      position: absolute;
      padding: .5rem;
      right: 0;
      top: 0;
      background-color: #FFF;
      svg{
        transition: transform .25s ease;
        &.rotate{
          transform: rotate(180deg);
        }
      }
    }
  }
  &.closed{
    max-height: 40px;
    ul{
      max-height: 0;
    }
  }
}
